
@import url(//db.onlinewebfonts.com/c/7d82eb485f3b457a3e844f1ba6322f70?family=Right+Chalk);



@font-face {
  font-family: "Right Chalk";
  src: url("\styles\Right Chalk.eot");
  src: url("styles\Right Chalk.eot?#iefix") format("embedded-opentype"),
  url("styles\Right Chalk.woff2") format("woff2"),
  url("styles\Right Chalk.woff") format("woff"),
  url("styles\Right Chalk.ttf") format("truetype"),
  url("styles\Right Chalk.svg#Right Chalk") format("svg")
        }



.input-form{

  font-family: "Right Chalk", sans-serif;
  color: whitesmoke;
  font-size: 25px;
  



}

h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    vertical-align: text-bottom;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    font-family: 'Cedarville Cursive';font-size: 44px;
  
}
fieldset
{
  max-width:3000px;
  padding:16px;	
}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}


body {
  font-family: 'Cedarville Cursive';font-size: 22px;
    
    
  margin: 0;
    padding: 0;
    background: url(../styles/tablehands.jpg) no-repeat;
    background-size: cover;
    width: 3500px;
    height: 160px;
   
    resize: both;
    overflow: scroll;
  }
  .paper {
    font-family: 'Cedarville Cursive';font-size: 22px;
    
    position: absolute;
    height: 1300px;
    width: 1100px;
    background: rgba(255,255,255,0.9);
    margin: -275px -225px;
    left: 35%;
    top: 30%;
    box-shadow: 0px 0px 5px 0px #888;
     }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
    background-size: cover;
  }
  .lines {
    margin-top: 30px;
    height: calc(90% - 65px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    background-size: cover;
  }
  .text {
    position: absolute;
    top: 65px;
    left: 55px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    font-family: 'Cedarville Cursive';font-size: 22px;
   
    overflow-wrap: normal;
    outline: none;
  }
  .holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: brown;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
  }
  .hole-top {
    top: 10%;
  }
  .hole-middle {
    top: 50%;
  }
  .hole-bottom {
    bottom: 10%;
  }
  